icar
*_test
docs/html
docs/doxygen_sqlite3.db
*.o
*.a
*.so
*.mod
*.xmod
*.smod
*.TBL
*.i
*.stamp
*.lst
*~
*.pyc
.DS_Store
.codebase-memory/
*.ready
*.done
*.ipynb
*-checkpoint.f90
*-checkpoint.F90
*.stamp
*/.ipynb_checkpoints/*
*/build*/*
.vscode/*
*.vscode/*
build*/*
bin/*
run/*
*code-workspace
FSM2trans/build/*
FSM2trans/lib/*
tests/Test_Cases*
tests/figures/
lib/*
helpers/domains/HORAYZON/
__pycache__/
site/
